APP_NAME="{{projectName}}"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

{{#if hasDatabase}}
{{#if dbPostgres}}
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE={{dbName}}
DB_USERNAME={{dbName}}
DB_PASSWORD=secret
{{/if}}
{{#if dbMysql}}
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE={{dbName}}
DB_USERNAME=root
DB_PASSWORD=secret
{{/if}}
{{#if dbSqlite}}
DB_CONNECTION=sqlite
{{/if}}
{{else}}
DB_CONNECTION=sqlite
{{/if}}

{{#if useRedis}}
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis
{{/if}}

{{#if useRedisQueue}}
QUEUE_CONNECTION=redis
{{else}}
QUEUE_CONNECTION=sync
{{/if}}

{{#if useAuth}}
SANCTUM_STATEFUL_DOMAINS={{projectName}}.test
{{/if}}

{{#if useSwagger}}
L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_CONST_HOST=http://localhost:8000/api
{{/if}}

{{#if useRateLimit}}
THROTTLE_ATTEMPTS_PER_MINUTE=60
{{/if}}
