# ---- app ----
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5000

{{#if hasDatabase}}
# ---- database ----
{{#if dbSqlite}}
ConnectionStrings__DefaultConnection=Data Source=./data/{{snakeCase projectName}}.sqlite
{{else}}
{{#if dbPostgres}}
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database={{snakeCase projectName}};Username=postgres;Password=postgres
{{/if}}
{{#if dbSqlserver}}
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database={{snakeCase projectName}};User Id=sa;Password=YourStr0ngP@ssword!;TrustServerCertificate=True
{{/if}}
{{/if}}
{{/if}}
{{#if useRedis}}

# ---- redis ----
Redis__ConnectionString=localhost:6379
{{/if}}
{{#if useKafka}}

# ---- kafka ----
Kafka__BootstrapServers=localhost:9092
Kafka__GroupId={{projectName}}-consumer
{{/if}}
{{#if useRabbitmq}}

# ---- rabbitmq ----
RabbitMQ__Host=localhost
RabbitMQ__Username=guest
RabbitMQ__Password=guest
RabbitMQ__Queue={{projectName}}-queue
{{/if}}
{{#if useAuth}}

# ---- auth ----
Jwt__Secret=change-me-to-a-long-random-string-at-least-32-chars
Jwt__Issuer={{projectName}}
Jwt__Audience={{projectName}}
Jwt__ExpirationMinutes=60
{{/if}}
