# ---- app ----
RAILS_ENV=development
APP_PORT=3000
CORS_ORIGINS=*

{{#if hasDatabase}}
# ---- database ----
{{#if dbPostgres}}
DATABASE_URL=postgresql://{{snakeCase projectName}}:postgres@localhost:5432/{{snakeCase projectName}}_development
DB_HOST=localhost
DB_PORT=5432
DB_USER={{snakeCase projectName}}
DB_PASSWORD=postgres
DB_NAME={{snakeCase projectName}}_development
{{/if}}
{{#if dbMysql}}
DATABASE_URL=mysql2://root:root@localhost:3306/{{snakeCase projectName}}_development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME={{snakeCase projectName}}_development
{{/if}}
{{/if}}

{{#if useSidekiq}}
# ---- redis / sidekiq ----
REDIS_URL=redis://localhost:6379/1
{{/if}}

{{#if useAuth}}
# ---- JWT ----
DEVISE_JWT_SECRET_KEY=change-me-to-a-random-string-at-least-64-chars-long
{{/if}}
