# ---- app ----
APP_ENV=development
APP_PORT=8000
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

{{#if hasDatabase}}
# ---- database ----
{{#if dbSqlite}}
{{/if}}
{{#if dbPostgres}}
DB_NAME={{dbName}}
DB_USER={{dbName}}
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
{{/if}}
{{#if dbMysql}}
DB_NAME={{dbName}}
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306
{{/if}}
{{/if}}
{{#if useRedis}}
# ---- redis ----
REDIS_HOST=localhost
REDIS_PORT=6379
{{/if}}
{{#if useAuth}}
# ---- auth ----
JWT_SECRET=change-me-to-a-long-random-string
{{/if}}
