# ---- app ----
APP_ENV=development
PORT=8080

{{#if hasDatabase}}
# ---- database ----
{{#if dbSqlite}}
DATABASE_URL=sqlite:./data/{{snakeCase projectName}}.sqlite
{{else}}
{{#if dbPostgres}}
DATABASE_URL=postgres://postgres:postgres@localhost:5432/{{snakeCase projectName}}
{{/if}}
{{#if dbMysql}}
DATABASE_URL=mysql://root:root@localhost:3306/{{snakeCase projectName}}
{{/if}}
{{/if}}
{{/if}}
{{#if useRedis}}

# ---- redis ----
REDIS_URL=redis://127.0.0.1:6379
{{/if}}
{{#if useKafka}}

# ---- kafka ----
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID={{projectName}}-consumer
{{/if}}
{{#if useAuth}}

# ---- auth ----
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1h
{{/if}}
