APP_PORT=8080

{{#if hasDatabase}}
{{#if dbPostgres}}
DB_HOST=localhost
DB_PORT=5432
DB_USER={{dbName}}
DB_PASSWORD=postgres
DB_NAME={{dbName}}
{{/if}}
{{#if dbMysql}}
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME={{dbName}}
{{/if}}
{{/if}}

{{#if useRedis}}
REDIS_HOST=localhost
REDIS_PORT=6379
{{/if}}

{{#if useKafka}}
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID={{projectName}}-consumer
{{/if}}

{{#if useRabbitmq}}
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
{{/if}}

{{#if useAuth}}
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRATION_MS=3600000
{{/if}}
